<link href="/web/resources/css/bootstrap.min.css" rel="stylesheet">  
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->  
<link rel="stylesheet" href="/web/resources/css/jquery.fileupload.css">  
<link rel="stylesheet" href="/web/resources/css/jquery.fileupload-ui.css">  
<script src="/web/resources/js/jqueryfileupload/jquery.ui.widget.js"></script>  
<script src="/web/resources/js/jqueryfileupload/jquery.fileupload.js"></script>  
<script src="/web/resources/js/jqueryfileupload/jquery.iframe-transport.js"></script>  
    
<div class="container-fluid" style="padding-left:0px; padding-right:0px; height: 1000px;">
    <div id="header" class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom:10px;">
        <div class="col-xs-2 col-sm-1 col-md-1" style="padding-left:0px;padding-right:0px;text-align:left;">
        </div>
        <div class="col-xs-8 col-sm-10 col-md-10" style="text-align:center;">
            <p id="pageTitle">个人简历</p>
        </div>
        <div class="col-xs-2 col-sm-1 col-md-1" style="padding-left:0px;padding-right:0px;text-align:right;">
        </div>
    </div> 
    <div id="rendLoadingDiv" style="width: 100%; text-align: center;">
        <span style="width: 100%; font-size: 20px; color: #666666;"></span><br />
    </div>
    <div id="resultDiv" style="width: 100%; text-align: left;">
        <span id="resultLabel" style="width: 100%; font-size: 20px; color: #666666;">
         具有15年移动增值业务和移动互联网软件开发经验，可以同时进行Web、Android、iOS系统开发，全栈工程师的倡导者。特别擅长大容量高并发系统架构设计与实现，同时精通用例驱动，以架构为中心，迭代式增量开发为特色的敏捷开发技术和软件开发项目的管理。CSDN博客专家，深动学习算法实践专栏累计有90多万阅读量，并出版深度学习方面的专著一部。
本人有多次移动互联网领域创业经验：移动医疗产品随诊医生首席技术官，该产品是一款以医生为切入点的医患平台，上线半年有3000名医生，数万名患者，该产品获得800万天使投资。
移动位置服务应用挑食儿（非挑食儿火锅）技术负责人，主打面向事务的点评（大众点评是面向店铺的点评），其中地理位置搜索、数据挖掘和个性化推荐引擎是项目的亮点。
在爱立信（中国）工作期间，研发的流媒体服务器，获得中国移动流媒体入网测试性能第一名；负责软件研发的中国网通奥运通信支撑系统获得奥运科技进步奖，是国内第一套商用3GPP IMS系统。在北航海尔工作期间，实施的海尔集团冰箱门厂MRPII系统，获得当年海尔集团国内系统集成商评比第一名。
        </span><br /><br />
    </div>
</div>

<!-- header e -->
<script type="text/javascript">
g_page_mode = 5;
$(document).ready(function() {
});
</script>
