    <div id="szmenu">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" >
            <li id="img_csf_tab" role="presentation" class="active">
                <a href="/web/pages?cmd=show_img_csf">
                    <img id="img_csf_icon" src="/web/resources/images/tb_rent_sel.png"/>
                    <span style="display:block;">分类</span>
                </a>
            </li>
            <li id="img_idf_tab" role="presentation" class="">
                <a href="/web/pages?cmd=show_img_idf">
                    <img id="img_idf_icon" src="/web/resources/images/tb_revert.png"/>
                    <span style="display:block;">识别</span>
                </a>
            </li>
            <li id="img_seg_tab" role="presentation" class="">
                <a href="/web/pages?cmd=show_img_seg">
                    <img id="img_seg_icon" src="/web/resources/images/tb_search.png"/>
                    <span style="display:block;">分割</span>
                </a>
            </li>
            <li id="time_sq_tab" role="presentation" class="">
                <a href="/web/pages?cmd=show_time_sq">
                    <img id="time_sq_icon" src="/web/resources/images/tb_record.png"/>
                    <span style="display:block;">时序</span>
                </a>
            </li>
            <li id="mine_tab" role="presentation" class="">
                <a href="/web/pages?cmd=show_mine">
                    <img id="mine_icon" src="/web/resources/images/tb_mine.png"/>
                    <span style="display:block;">我的</span>
                </a>
            </li>
        </ul>
        <!-- 上门服务 -->
        <div id="floatArea" style="position:absolute;bottom:80px;right:20px; display: none;">
            <a id="mydocbtn" href="#"></a>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    setup_bottom_tab();
});

function setup_bottom_tab() {
    $("#img_csf_tab").attr("class", "");
    $("#img_csf_icon").attr("src", "/web/resources/images/tb_rent.png");
    $("#img_idf_tab").attr("class", "");
    $("#img_idf_icon").attr("src", "/web/resources/images/tb_revert.png");
    $("#img_seg_tab").attr("class", "");
    $("#img_seg_icon").attr("src", "/web/resources/images/tb_search.png");
    $("#time_sq_tab").attr("class", "");
    $("#time_sq_icon").attr("src", "/web/resources/images/tb_record.png");
    $("#mine_tab").attr("class", "");
    $("#mine_icon").attr("src", "/web/resources/images/tb_mine.png");
    switch (g_page_mode) {
    case 1:
        $("#img_csf_tab").attr("class", "active");
        $("#img_csf_icon").attr("src", "/web/resources/images/tb_rent_sel.png");
        break;
    case 2:
        $("#img_idf_tab").attr("class", "active");
        $("#img_idf_icon").attr("src", "/web/resources/images/tb_revert_sel.png");
        break;
    case 3:
        $("#img_seg_tab").attr("class", "active");
        $("#img_seg_icon").attr("src", "/web/resources/images/tb_search_sel.png");
        break;
    case 4:
        $("#time_sq_tab").attr("class", "active");
        $("#time_sq_icon").attr("src", "/web/resources/images/tb_record_sel.png");
        break;
    case 5:
        $("#mine_tab").attr("class", "active");
        $("#mine_icon").attr("src", "/web/resources/images/tb_mine_sel.png");
        break;
    }
}
</script>
</body>
</html>