    <div id="szmenu">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" >
            <li role="presentation" class="">
                <a href="index.php?f=c_index&c=CIndex&m=showRent">
                    <img src="/web/resources/images/tb_rent.png"/>
                    <span style="display:block;">识别</span>
                </a>
            </li>
            <li role="presentation" class="">
                <a href="index.php?f=c_index&c=CIndex&m=showRevert">
                    <img src="/web/resources/images/tb_revert.png"/>
                    <span style="display:block;">分割</span>
                </a>
            </li>
            <li role="presentation" class="active">
                <a href="index.php?f=c_index&c=CIndex&m=showLocaList">
                    <img src="/web/resources/images/tb_search_sel.png"/>
                    <span style="display:block;">原理</span>
                </a>
            </li>
            <li role="presentation" class="">
                <a href="index.php?f=c_index&c=CIndex&m=showSz">
                    <img src="/web/resources/images/tb_record.png"/>
                    <span style="display:block;">时序</span>
                </a>
            </li>
            <li role="presentation" class="">
                <a href="index.php?f=c_index&m=showMyProfile">
                    <img src="/web/resources/images/tb_mine.png"/>
                    <span style="display:block;">我的</span>
                </a>
            </li>
        </ul>
        
        <!-- 上门服务 -->
        <div id="floatArea" style="position:absolute;bottom:80px;right:20px; display: <?php echo $floatAreaVis; ?>;">
            <a id="mydocbtn" href="#"></a>
        </div>
    </div>